*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans',sans-serif;
    box-sizing: border-box;
}

.hero{
    height: 100vh;
    width: 100%;
    background:black;
    background-position:cover;
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%S;
}
.logo{
    color:white;
    font-size: 35px;
    letter-spacing:1px;
    cursor: pointer;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size:bold ;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: brown;
transition: .4s;
}
.photo img{
    height: 600px;
    margin-top: 40px;
    margin-left: 700px;
}
.btn{
    background-color: red;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
}
.content{
    position: absolute;
    top:50%;
    left: 8%;
    transform: translate(-50%);   
}
h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 45px;
    transform: translate(40%);
}
h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
    transform: translate(40%);
}
h4{
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
    transform: translate(20%);
}
.lio{
    color: red;
}
.new{
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
    transform: translate(40%);
}
.about{
    width: 100%;
    padding: 100px 0px;
    background-color:white ;

}
.about img{
    height: auto;
    width: 400px;
    padding: 30px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: space-around;

}
.about-me h2{
    font-size: 7;
 text-transform: capitalize;
 margin-bottom: 20px;
}
.about-me h5{
    
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-me p{
 color: rgb(12, 37, 59);
 letter-spacing: 1px;
 line-height: 28px;
 font-size: 18px;
 margin-bottom: 45px;
}
button{
    background-color:red ;
    color: white;
    text-decoration: none;
    border:solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    
}
.resume{
    position: absolute;
}

.mode{
    position: absolute;
    right: 10px;
    top: 10px;
}
label{
    /* margin-left: 1400px; */
    width:100px;
    height:40px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 40px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
    cursor: pointer;
} 

label:after {
    content: "";
    width:20px;
    height: 20px;
    position: absolute;
    top:10px;
    left:10px;
    background: linear-gradient(180deg,#ffcc89,#d8860b);
    border-radius: 30px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}
input {
    width: 0;
    height: 0;
    visibility: hidden;
}
input:checked + label {
    background: #242424;
}
input:checked + label:after {
    left:90px;
    transform: translateX(-100%);
    background: linear-gradient(180deg,#777,#3a3a3a);
}
label, label:after {
    transition: 0.3s
}
label:active:after{ 
    width: 40px; 
}

.skills{
    margin: 0px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color:black;
}

figure {
    width:30%;
    margin:0px;
    text-align:center;
    padding:0px;
    display: inline-block;
}
figcaption {
    color: black;
    font-family: 'Poppins', sans-serif;
    /* font-style: italic; */
    /* padding: 2px;  */
    text-align: center;
}
.category{
    text-align: center;
    margin: 10px 10px;
    padding-bottom: 50px;
    padding-top: 30px;
}

p{
    font-family: 'Poppins', sans-serif;
}

hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

a{
    color: red;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
a:hover{
    color: #ee6b6e;
}
.top-container{
    /* background-color: #E3FDFD; */
    background-color: black;
    position: relative;
    padding-top: 100px;
}
.table{
    width: 24%;
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    top: 430px;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}
.pfp{
    height: 200px;
    width: 200px;
}
.intro{
    width: 30%;
    margin: auto;
}
.skillicon{
    width: 15%;
    padding: 10px;
}
.guitar{
    width: 10%;
    float: left;
    margin-left: 30px;
}

.lol{
    margin-right: 44%;
    font-family: 'Poppins', sans-serif;
    color:red;
}
.lol1{
    margin-right: 44%;
    font-family: 'Poppins', sans-serif;
    color:red;
}
.lol2{
    margin-right: 44%;
    font-family: 'Poppins', sans-serif;
    color: red;
}
.lol3{
    margin-right: 44%;
    font-family: 'Poppins', sans-serif;
    color: red;
}
.lol4{
    margin-right: 44%;
    font-family: 'Poppins', sans-serif;
    color: red;
}
/* .skill-row{
    width: 50%;
    margin: auto;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
} */
.middle-container{
    padding: 100px 0;
}
.contact-message{
    margin: 40px auto 60px;
}
.bottom-container{
    /* background-color: #66BFBF; */
    background-color:white;
    padding: 50px 0 20px;
    text-align: center;
}
.footer-link{
    margin: 30px 30px auto 30px;
    line-height: 2;
}
.copyright{
    color: white;
    font-size: 0.75rem;
    padding: 20px 0;
}
.contact-me{
    text-align: center;
} 
.contact-message{
    font-size: 80%;
}